<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>SimpuGo</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>SimpuGo requires access to your camera</string>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>NSMicrophoneUsageDescription</key>
<string>SimpuGo needs access to your Microphone.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Simpu requires access to your gallery</string>
	<key>UIAppFonts</key>
	<array>
		<string>Item 0</string>
		<string>AntDesign.ttf</string>
		<string>Item 1</string>
		<string>Entypo.ttf</string>
		<string>Item 2</string>
		<string>EvilIcons.ttf</string>
		<string>Item 3</string>
		<string>Feather.ttf</string>
		<string>Item 4</string>
		<string>FontAwesome.ttf</string>
		<string>Item 5</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>Item 6</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>Item 7</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Item 8</string>
		<string>Foundation.ttf</string>
		<string>Item 9</string>
		<string>Ionicons.ttf</string>
		<string>Item 10</string>
		<string>MaterialIcons.ttf</string>
		<string>Item 11</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>Item 12</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Item 13</string>
		<string>Octicons.ttf</string>
		<string>Item 14</string>
		<string>Zocial.ttf</string>
		<string>Item 15</string>
		<string>Averta-Bold-Italic.otf</string>
		<string>Item 16</string>
		<string>Averta-Bold.otf</string>
		<string>Item 17</string>
		<string>Averta-Regular-Italic.otf</string>
		<string>Item 18</string>
		<string>Averta-Regular.otf</string>
		<string>Item 19</string>
		<string>Averta-Semibold-Italic.otf</string>
		<string>Item 20</string>
		<string>Averta-Semibold.otf</string>
		<string>Item 21</string>
		<string>DMSans-Bold-Italic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>BootSplash</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
